/*first index.html file */

main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    font-style: italic;
}

p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 50%;
}

p.callout {
    font-size: 2rem;
    line-height: 2.2rem;
    font-style: italic;
    float: right;
    text-align: right;
    padding-left: 2em;
    margin-top: 0;
}

#row1 p,
#row3 p,
#row6 p,
#row10 p {
    margin-left: calc(100% * 1 / 6);
}

#row4 p,
#row8 p,
#row11 p,
#about p {
    margin-left: calc(100% * 2 / 6);
}

#row5 p {
    margin-left: calc(100% * 1 / 6);
}

#row5 p.callout {
    margin-left: 0;
}

#row9 p {
    margin-left: calc(100% * 1 / 6);
}

#row9 p.callout {
    margin-left: 0;
}

#about h3 {
    font-size: 1.25rem;
    margin-top: 2.5rem;
    margin-left: calc(100% * 2 / 6);
}