/* Brazil World Cup Vertical Scroll */

@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Titillium+Web:wght@300&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Titillium Web", sans-serif;
    color: #fff;
}

h1,
h2,
p {
    padding: 0;
    margin: 0;
}

/* 6 sections = 600vh */
main {
  height: 600vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("pele2.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 10%;
  background-attachment: fixed;
}

section {
    position: relative;
    height: 100vh;
}

section>.content {
    position: absolute;
    width: 42vw;
    top: 20vh;
    left: 4vw;
}

section>.content>p {
    font-size: 1.8rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

/* "Scroll down" instructions */
section>.instructions {
    position: absolute;
    bottom: 2vh;
    width: 42vw;
    right: 4vw;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    padding-left: 1rem;
    opacity: 0.8;
}

#section1 p,
#section1 h1 {
    text-transform: uppercase;
}

#section1 h1 {
    font-size: 6rem;
    line-height: 5.5rem;
    font-family: Limelight, serif;
    margin-left: -0.4rem;
    padding-left: 1rem;
}

#section1 .content {
    left: 4vw;
    right: auto;
    text-align: left;
}

#section2 .content,
#section3 .content,
#section4 .content,
#section5 .content,
#section6 .content {
    left: auto;
    right: 4vw;
    text-align: left;
}

#section1 .instructions {
    left: 4vw;
    right: auto;
    text-align: left;
}

b, strong {
  font-weight: bold !important;
}