
    /* STYLES FOR CONCENTRATION BOARD - TP5 */

* {
    box-sizing: border-box;
}

:root {
    /* board size and spacing */
  --boardWidth: 100vw;
  --boardGap: 4vw;
  --cardSize: calc( ( var(--boardWidth) - (3 * var(--boardGap)) ) / 4);
}

body {
  margin: var(--boardGap) 0;
  padding: 0;
}


    /* GENERAL CARD STYLING */

.card {
  position: relative;
  width: var(--cardSize);
  height: var(--cardSize);
  perspective: 500px; /* it makes the flip look 3D */
}

.cardContent {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d; 
}

.card:hover .cardContent {
  transform: rotateX(180deg); 
}

.cardTop,
.cardBottom {
  position: absolute; 
  text-align: center;
  height: 100%;
  width: 100%;
  border: 2px solid darkgoldenrod;
  font-size: 42px;
  backface-visibility: hidden;
}

.cardTop {
  background-color: darkolivegreen;
  color: #eee;
}

.cardBottom {
  background-color: #eee;
  color: darkblue;
  transform: rotateX(180deg);
}


/* CSS PRE DEFINED CARD STYLES */

.pair1 .cardBottom {
  --s: 65px; /* control the size*/
  --c1: #ecd078;
  --c2: #542437;
  
  --l1:#0000  48%,var(--c1) 0 52%,#0000 0;
  --l2:#0000 1.3%,var(--c2) 0 32%,#0000 0;
  background:
    linear-gradient(-45deg,var(--l2)),
    linear-gradient( 45deg,var(--l1)),
    linear-gradient( 45deg,var(--l2)) calc(var(--s)/2) calc(var(--s)/2),
    linear-gradient(-45deg,var(--l1)) var(--c2);
  background-size: calc(2*var(--s)) var(--s),var(--s) var(--s);
}

.pair2 .cardBottom {
  --s: 52px; /* control the size*/
  --c1: #dfba69;
  --c2: #5a2e2e;
  
  --p:35%,#0000 calc(35% + 1px);
  background:
    radial-gradient(at 0 100%,var(--c1) var(--p)) var(--s) 0,
    radial-gradient(at 0 100%,var(--c2) var(--p)) 0 var(--s),
    repeating-conic-gradient(from 45deg,var(--c2) 0 25%,var(--c1) 0 50%);
  background-size: calc(2*var(--s)) calc(2*var(--s));
}

.pair3 .cardBottom {
  --s: 70px; /* control the size*/
  --c1: #6b5344;
  --c2: #f8ecc9;
  
  --_l: #0000 46%,var(--c1) 47% 53%,#0000 54%;
  background:
    radial-gradient(100% 100% at 100% 100%,var(--_l)) var(--s) var(--s),
    radial-gradient(100% 100% at 0    0   ,var(--_l)) var(--s) var(--s),
    radial-gradient(100% 100%,#0000 22%,var(--c1) 23% 29%, #0000 30% 34%,var(--c1) 35% 41%,#0000 42%),
    var(--c2);
  background-size: calc(var(--s)*2) calc(var(--s)*2);
}

.pair4 .cardBottom {
  --s: 40px; /* control the size*/
  --c1: #ab3e5b;
  --c2: #f9f2e7;
  
  --_g:#0000 17.5%,var(--c1) 18% 35%,var(--c2) 35.5% 39%,#0000 40%;
  background:
    radial-gradient(at 100% 0,var(--_g))
     0       calc(var(--s)/-2)/calc(2*var(--s)) calc(2*var(--s)),
    radial-gradient(at 0 100%,var(--_g))
     calc(var(--s)/2) var(--s)/calc(2*var(--s)) calc(2*var(--s)),
    conic-gradient(#0000 75%,var(--c1) 0) 0 0/var(--s) var(--s) 
     var(--c2);
}

.pair5 .cardBottom {
  --s: 140px; /* control the size*/
  --c1: #170409;
  --c2: #67917a;
  
  --_g: #0000 52%,var(--c1) 54% 57%,#0000 59%; 
  background: 
   radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
   radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
   radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
   radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
   var(--c2);
  background-size: calc(var(--s)/4.667) var(--s),var(--s) calc(var(--s)/4.667);
}

.pair6 .cardBottom {
  --s: 100px; /* control the size*/
  --c1: #336666;
  --c2: #ffffff;
  
  --_g: #0000 90deg,var(--c1) 0;
  background: 
    conic-gradient(from 90deg at 2px 2px,var(--_g)),
    conic-gradient(from 90deg at 1px 1px,var(--_g)),
    var(--c2);
  background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
}

.pair7 .cardBottom {
  --s: 120px; /* control the size*/
  --c1: #72e21f;
  --c2: #044012;
  
  --_c: var(--c1) 25%,#0000 0;
  --_g1: conic-gradient(at 62.5% 12.5%,var(--_c));
  --_g2: conic-gradient(at 87.5% 62.5%,var(--_c));
  --_g3: conic-gradient(at 25%   12.5%,var(--_c));
  background:
    var(--_g1) calc( var(--s)/-8) calc(var(--s)/2),var(--_g1) calc(-3*var(--s)/8) calc(var(--s)/4),
    var(--_g2) calc(3*var(--s)/8) calc(var(--s)/4),var(--_g2) calc(  var(--s)/-8) 0,
    var(--_g3) 0 calc(var(--s)/-4),var(--_g3) calc(var(--s)/-4) 0,
    conic-gradient(at 87.5% 87.5%,var(--_c)) calc(var(--s)/8) 0
    var(--c2);
  background-size: var(--s) var(--s);
}

.pair8 .cardBottom {
  --s: 76px; /* control the size*/
  --c1: #f77825;
  --c2: #60b99a;
  --c3: #f1efa5;
  --c4: #554236;
  
  background:
    conic-gradient(from 150deg,var(--c1)    60deg,#0000 0 180deg,
                               var(--c2) 0 240deg,#0000 0) var(--s) 0,
    conic-gradient(from -30deg,var(--c1)    60deg,var(--c3) 0 120deg,var(--c4) 0 180deg,
                               var(--c2) 0 240deg,var(--c3) 0 300deg,var(--c4) 0);
  background-size: calc(2*var(--s)) var(--s);
}

/* GAMEBOARD FORMATTING */

#gameBoard {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: var(--boardGap);
    width: var(--boardWidth);
}

@media screen and (orientation: landscape) {

  :root {
    --boardWidth: 80vw;
    --cardSize: calc( ( var(--boardWidth) - (3 * var(--boardGap)) ) / 4);
  }

  #gameBoard { margin: 0 auto; }

}